@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&family=Dancing+Script&family=Libre+Bodoni:wght@400;700&family=Montserrat:wght@100;400;700&display=swap');

/* Icons came from www.flaticon */
/* <a href="https://www.flaticon.com/free-icons/twitter" title="twitter icons">Twitter icons created by Pixel perfect - Flaticon</a> */

body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Libre Bodoni', serif; */
    /* font-family: 'Bodoni Moda', sans-serif; */
    background-color: peachpuff;
    color: snow;
}

a {
    text-decoration: none;
    color: inherit;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(65, 105, 225, 0.9);
    padding: 0 1.5rem;
}

section.left_side {
    display: flex;
    align-items: center;
}

section.left_side .logo {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    text-transform: uppercase;
}

section.left_side .logo img {
    width: 5rem;
    transform: scale(0.6);
    background-color: snow;
    border-radius: 50%;
    padding: 0.2rem;
 
}

section.left_side .links {
    padding-left: 2rem ;
    letter-spacing: 0.2em;
}

section.left_side .links a {
    padding: 0 0.7rem;
}

.icon img {
    width: 1.5rem;
    padding: 0.2rem;
}

section.welcome {
    width: 90%;
    height: 90vh;
    /* margin: 5rem auto; */
    display: flex;
    align-items: center;
    padding-right: 8rem;
    font-size: 1.1em; 
}

section.welcome figure {
    text-align: right;
    margin: 0 auto;
    padding: 0rem 3rem 0 0;
 }
section.welcome img {
    width: 60%;
    border-radius: 50%;
}

section.welcome hr {
    background: rgba(65, 105, 225, 0.4);
    width: 0.4%;
    height: 25rem;
    border-width: 0;
}

section.welcome .description {
    width: 35%;
    z-index: 1;
    padding: 0 4rem;
}

.description h1 {
    font-size: 3em;
}

aside.socials {
    background-color: lightblue;
    position: fixed;
    top: 40vh;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 0.3rem;
    border-radius: 10%;
}

section.works {
    background-color: rgb(252, 231, 205);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3rem 0;
}

section.works .project_HTML {
    border-top: 0.5rem solid rgba(65, 105, 225, 0.4);
    background-color: rgba(173, 216, 230, 0.7);
    /* box-shadow: inset 0 0.3em 0.8em rgba(225, 225, 225, 0.5),
     0 0 0.3em rgb(173, 216, 230); */
    width: 25%;
    padding: 1rem 2rem 3rem 2rem;
    margin: 1rem 1rem;;
}

section.works .project_CSS {
    border-top: 0.5rem solid gold;
    background-color: rgba(173, 216, 230, 0.7);
    width: 25%;
    padding: 1rem 2rem 3rem 2rem;
    margin: 1rem 1rem;;
}
section.works .project_JS {
    /* border-top: 0.5rem solid rgba(255, 255, 0, 0.8); */
    border-top: 0.5rem solid yellow;
    background-color: rgba(173, 216, 230, 0.7);
    width: 25%;
    padding: 1rem 2rem 3rem 2rem;
    margin: 1rem 1rem;;
}

section.works .language {
    font-size: 0.6em;
    font-weight: bold;
    color: snow;
}

footer {
    background-color: rgba(65, 105, 225, 0.9) ;
    padding: 2rem 3rem;
    text-align: right;
    font-weight: lighter;
}

section.motivation {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(154, 205, 50, 0.5);
    padding: 5rem 1rem;
}
section.motivation .quote {
    width: 80%;
    text-align: right;
    padding-right: 2rem;
}

section.motivation .quote img {
    width: 70%;
    border-radius: 50%;
    border: white solid 0.125em;
    box-shadow: inset 0 0 0.5em 0 whitesmoke, 
                0 0 0.5em 0 whitesmoke;
}

section.motivation .cv {
    width: 60%;
    padding: 2rem 3rem;
}

section.motivation .cv h1 {
    font-size: 3em;
}

footer address {
    font-style: normal;
}

footer address a{
    font-weight: bold;
}

