@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&family=Dancing+Script&family=Libre+Bodoni:wght@400;700&family=Montserrat:wght@100;400;700&display=swap');

/* Icons came from www.flaticon */
/* <a href="https://www.flaticon.com/free-icons/twitter" title="twitter icons">Twitter icons created by Pixel perfect - Flaticon</a> */
/* Menu symbol is from https://pl.piliapp.com/symbol/menu/ */

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Libre Bodoni', serif; */
    /* font-family: 'Bodoni Moda', sans-serif; */
    background-color: peachpuff;
    color: snow;
}

nav {
    background-color: rgba(65, 105, 225, 0.9);
}

nav .nav-container {
    display: flex;
    justify-content: space-between;
}

nav .menu-container,
.tech-container {
    display: flex;
    align-items: center;
    padding: 1.2rem;
}

nav .logo {
    height: 2.4rem;
    margin: 0 0.7rem 0 0;
    background-color: snow;
    border-radius: 50%;
    padding: 0.2rem;
}

nav .hamburger {
    display: none;
}

nav h3 {
    font-weight: lighter;
    letter-spacing: 0.2em;
    margin: 0 2rem 0 0;
}

nav .nav-link {
    color: inherit;
    text-decoration: none;
    padding: 0.5rem 0.7rem;
}

nav .nav-link:hover {
    background-color: lightblue ;
    font-weight: bold;
    border-radius: 0.3rem;
}

nav .tech-container img {
    height: 1.9rem;
    padding: 0.2rem;
}

nav .hamburger-list-container .nav-link {
    display: block;
}

.hidden {
    display: none !important;
}

@media (max-width: 1000px) {
    nav h3 {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    nav .hamburger {
        /* overwrite the display : IMPORTANT! */
        display: block;
        background-color: transparent;
        color: white;
        font-size: 1.4em;
        border: none;
        margin: 0 0.7rem 0 0;
    }
    .menu-container .nav-links {
        display: none;
    }
}

aside.socials {
    background-color: lightblue;
    position: fixed;
    top: 35vh;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 0.3rem;
    border-radius: 10%;
}

@media (max-width:600px) {
    aside.socials {
        display: none;
    }
}

section.main-section {
    display: flex;
    height: 80vh;
    align-items: center;
    font-size: 1.1em;
}
 .headshoot {
    width: 25rem;
    border-radius: 50%;
    padding: 3rem;
    margin-left: 10vw;
}

.introduction {
    width: 40vw;
    padding: 2.5rem;
    border-left: 3px solid whitesmoke;
    font-size: 1.1em;
}

.introduction h1 {
    font-size: 3em;
    margin: 0;
}

@media screen and (max-width: 1000px) {
    section.main-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
    }

    section.main-section .introduction {
        width: 90vw;
        text-align: center;
        border-left: none;
    }

    section.main-section .headshoot {
        margin-left: 0;
    }
}
 /* dużo nowości! */
.arrow {
    border: white solid;
    border-width: 0 8px 8px 0;
    padding: 1rem;
    display: inline-block;
    transform: rotate(45deg);
}

.bounce {
    padding: 1.5rem 0 0 3rem;
    animation: bounce 1.5s infinite ease-in-out;
    
}

@keyframes bounce {
    0%
    20%
    50%
    80%
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-25px);
    }
    60% {
        transform: translateY(-15px);
    }      
}

section.work-section {
    background-color: rgb(252, 231, 205);
    padding: 5rem 3rem;
}

section .work-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.work-card {
    width: 25%;
    background-color: rgba(173, 216, 230, 0.7);
    margin: 0.6rem;
    padding: 0 2.5rem 2.5rem 2.5rem;
}

.html {
    border-top: 0.5rem solid orange;
}

.css {
    border-top: 0.5rem solid lightskyblue;
   
}

.js {
    border-top: 0.5rem solid rgba(255, 255, 0, 0.9);
}

.react {
    border-top: 0.5rem solid rgba(0, 0, 255, 0.6);
}

section.motivation {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(154, 205, 50, 0.5);
    padding: 5rem 1rem;
}

section.motivation .quote {
    width: 80%;
    text-align: right;
    padding-right: 2rem;
}

section.motivation .quote img {
    width: 70%;
    border-radius: 50%;
    border: white solid 0.125em;
    box-shadow: inset 0 0 0.5em 0 whitesmoke,
        0 0 0.5em 0 whitesmoke;
}

section.motivation .cv {
    width: 60%;
    padding: 2rem 3rem;
}

section.motivation .cv h1 {
    font-size: 3em;
}

footer {
    background-color: rgba(65, 105, 225, 0.9);
    padding: 2rem 3rem;
    text-align: right;
    font-weight: lighter;
}

footer address {
    font-style: normal;
}

footer address a {
    font-weight: bold;
}